.private-events-container {
    display: flex;
    align-items: center;
  
    list-style: none;
    justify-content: space-between;
    background-color: rgba(81, 81, 81, 1);
    position: sticky;
    top: 0;
    overflow: hidden;
  }
  .name {
    font-family: cursive;
    font-weight: bolder;
    font-size: 12px;
    color: white;
  }

  .private-events-header {
    display: flex;
    font-family: cursive;
    list-style: none;
    gap: 30px;
  }