.container {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  background-color: rgba(81, 81, 81, 1);
  position: sticky;
  margin-left: 0.2px;
  margin-right: 0.2px;
  top: 0;
  overflow: hidden;
}

.name {
  font-family: cursive;
  font-weight: bolder;
  font-size: 12px;
  color: white;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Main-Header {
  display: flex;
  font-family: cursive;
  list-style: none;
  gap: 30px;
}

a {
  color: #fff;
}

img.main-image,
img.interior-page-image {
  width: -webkit-fill-available;
  min-height: 425px;
  display: block;
}

img.interior-page-image-banner {
  width: -webkit-fill-available;
  min-height: 490px;
  display: block;
}

.anniversary-banner-box {
  right: 50%;
  left: 42%;
  bottom: 140px;
  position: relative;
  height: 50px;
  width: 200px;
  justify-content: center;
  display: flex;
  text-align: center;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgba(47, 50, 53, 0.72);
  border: 2px solid white;
}

.history-header {
  text-align: center;
  font-family: serif;
  font-weight: 100;
  color: #545252;
  font-style: normal;
  padding-bottom: 20px;
  text-transform: none;
}

.history-text {
  word-spacing: 5px;
  text-align: center;
  font-family: serif;
  font-size: 20px;
  font-weight: 100;
  color: #2f3235;
  font-style: normal;
  text-transform: none;
  line-height: 35px;
}
.interior-page-header {
  text-align: center;
  font-family: serif;
  font-weight: 100;
  color: #fff;
  top: 150px;
  font-family: serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  text-transform: none;
}

.space-buttons {
  display: flex;
  gap: 10px;
  bottom: 130px;
  justify-content: center;
  position: relative;
  border-radius: 5px;
}

.interior-page-button,
.interior-page-eList-button,
.bottom-menu-page-button,
.sign-up-button {
  display: flex;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  height: 50px;
  width: 200px;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgba(47, 50, 53, 0.72);
  border: 2px solid white;
}

.interior-page-button:hover {
  background-color: rgba(255, 255, 255, 0.72);
  color: rgb(47, 50, 53);
}

.interior-page-eList-button:hover {
  background-color: rgba(255, 255, 255, 0.72);
  color: rgb(47, 50, 53);
}

.sign-up-button:hover {
  background-color: rgba(255, 255, 255, 0.72);
  color: rgb(47, 50, 53);
}
.sign-up-button:link {
  display: flex;
  align-items: center;
}

.loyalty-button {
  margin-top: 45px;
  margin-left: 25px;
}

.interior:link {
  display: flex;
  text-align: center;
}

a {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.menu-options-banner {
  padding: 10px;
  height: 300px;
  margin-top: -55px;
  border-radius: 5px;
  text-align: center;
  font-family: cursive;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  background-color: #2f3235;
  font-size: 18px;
}

.menu-intro-title {
  margin-top: 50px;
  line-height: 60px;
  letter-spacing: 2px;
  color: white;
  font-family: adobe-caslon-pro, serif;
}

.bottom-menu-page-button,
.private-menu-button {
  display: flex;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  height: 50px;
  width: 200px;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgba(47, 50, 53, 0.72);
  border: 2px solid white;
}

.menu-and-private-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}

.serving-container {
  display: flex;
  align-items: flex-end;
}

.bottom-menu-page-button:hover {
  background-color: rgba(255, 255, 255, 0.72);
  color: rgb(47, 50, 53);
}

.private-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.72);
  color: rgb(47, 50, 53);
}

.event-planning h1 {
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  color: #2f3235;
  font-size: 42px;
  line-height: 60px;
  letter-spacing: 2px;
  margin-left: 20px;
}


img.event-planning-image {
  max-height: 100%;
  width: 88%;
  height: 800px;
  float: right;
}

h1.sub-header {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.538461538461538em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000000;
}

hr {
  width: 100px;
  margin-left: 20px;
}

.event-rules,
.tax-rate {
  font-size: 18px;
  margin-left: 20px;
  font-weight: 400;

  text-transform: none;
  color: #2f3235;
  margin-top: 30px;
}

.event-rules h5 {
  font-size: 20px;
  line-height: 0.4;
}

.tax-rate h5 {
  font-size: 20px;
  line-height: 0.4;
}

.footer {
  background-color: whitesmoke;
  color: black;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  height: 245px;
  font-family: sans-serif;
}

.footer-image {
  display: flex;
  background-color: #2f3235;
  margin-top: 35px;
  margin-left: 10px;
  justify-content: center;
  width: 70%;
}
.guest-loyalty-container {
  display: flex;
  background-color: #2f3235;
  color: white;
  text-align: center;
  max-height: 100%;
  justify-content: center;
}
.help {
  margin-top: 40px;
}

.loyalty h5 {
  font-size: 30px;
  line-height: 35px;
  margin-top: 0px;
  letter-spacing: 2px;
}

.loyalty h6 {
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
}

.loyalty {
  width: 100%;
}

.sign-up {
  background-color: white;
  width: 330px;
  box-shadow: 10px 10px;
  height: 170px;
  color: black;
  font-weight: 600;
  font-size: 14px;
  padding: 50px;
  margin: 20px;
}

.loyalty-text {
  display: flex;
}




.pic-slide {
  width: 100vw;
  height: 200px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.dinner-carousel {
  position: relative;
  width: 100%;
    height: 100%;
  margin-top: 5px;
}

.dinner-carousel > img {
  position: absolute;
  top: 0;
  /* left: calc(0% - 100px); */
  opacity: 0;
  animation: display 10s infinite;
}
img:nth-child(1) {
  animation-delay: 0s;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}

