.container {
  display: flex;
  align-items: center;

  list-style: none;
  justify-content: space-between;
  background-color: rgba(81, 81, 81, 1);
  position: sticky;
  top: 0;
  overflow: hidden;
}

.name {
  font-family: cursive;
  font-weight: bolder;
  font-size: 12px;
  color: white;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Main-Header {
  display: flex;
  font-family: cursive;
  list-style: none;
  gap: 30px;
}

a {
  color: #fff;
}

img.main-image,
img.interior-page-image {
  width: -webkit-fill-available;
  min-height: 425px;
  display: block;
}

img.interior-page-image-banner {
  width: -webkit-fill-available;
  min-height: 425px;
  display: block;

  /* position: absolute; */
}

.anniversary-banner-box {
  right: 50%;
  left: 42%;
  bottom: 140px;
  position: relative;
  height: 50px;
  width: 200px;
  justify-content: center;
  display: flex;
  text-align: center;
  /* position: absolute; */
  border-radius: 5px;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgba(47, 50, 53, 0.72);
  border: 2px solid white;
}

.history-header {
  text-align: center;
  font-family: serif;
  font-weight: 100;
  color: #545252;
  font-style: normal;
  padding-bottom: 20px;
  text-transform: none;
}

.history-text {
  word-spacing: 5px;
  text-align: center;
  font-family: serif;
  font-size: 20px;
  font-weight: 100;
  color: #2f3235;
  font-style: normal;
  text-transform: none;
  line-height: 35px;
}
.interior-page-header {
  text-align: center;
  font-family: serif;
  font-weight: 100;
  color: #fff;
  top: 150px;
  font-family: serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
  text-transform: none;
}

.space-buttons {
  display: flex;
  gap: 10px;
  bottom: 130px;
  justify-content: center;
  position: relative;
  border-radius: 5px;
}

.interior-page-container {
}

.interior-page-button,
.interior-page-eList-button,
.bottom-menu-page-button {
  display: flex;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  height: 50px;
  width: 200px;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgba(47, 50, 53, 0.72);
  border: 2px solid white;
}

.interior-page-button:hover {
  background-color: rgba(255, 255, 255, 0.72);
  color: rgb(47, 50, 53);
}

.interior-page-eList-button:hover {
  background-color: rgba(255, 255, 255, 0.72);
  color: rgb(47, 50, 53);
}

.interior:link {
  display: flex;
  text-align: center;
}

a {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.menu-options-banner {
  padding: 10px;
  height: 300px;
  margin-top: -55px;
  border-radius: 5px;
  text-align: center;
  font-family: cursive;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  background-color: #2f3235;
  font-size: 18px;
}

.menu-intro-title {
  margin-top: 50px;
  line-height: 60px;
  letter-spacing: 2px;
  color: white;
  font-family: adobe-caslon-pro, serif;
}

.bottom-menu-page-button,
.private-menu-button {
  display: flex;
  text-align: center;
  border-radius: 5px;
  justify-content: center;
  height: 50px;
  width: 200px;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  background-color: rgba(47, 50, 53, 0.72);
  border: 2px solid white;
}

.menu-and-private-button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 50px;
}

.serving-container {
  display: flex;
  align-items: flex-end;
}

.bottom-menu-page-button:hover {
  background-color: rgba(255, 255, 255, 0.72);
  color: rgb(47, 50, 53);
}

.private-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.72);
  color: rgb(47, 50, 53);
}

.event-planning h1 {
  font-weight: 400;
  font-style: normal;
  text-transform: none;
  color: #2f3235;
  font-size: 42px;
  line-height: 60px;
  letter-spacing: 2px;
  margin-left: 20px;
}

img.event-planning-image {
  max-height: 100%;
  width: 88%;
  height: 919px;
  object-fit: cover;
  float: right;
}

h1.sub-header {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.538461538461538em;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000000;
}


hr {
  width: 100px;
  margin-left: 20px;
}

.event-rules,
.tax-rate {
  font-size: 18px;
  margin-left: 20px;
  font-weight: 400;
  /* line-height: 0.4; */

  text-transform: none;
  color: #2f3235;
  margin-top: 30px;
}

.event-rules h5 {
  font-size: 20px;
  line-height: 0.4;
}

.tax-rate h5 {
  /* margin-top: 50px; */
  font-size: 20px;
  line-height: 0.4;
}

.footer {
  background-color: #2f3235;
  color: white;
  display: flex;
  margin-top: -1px;
  justify-content: center;
  align-items: center;
  height: 125px;
  font-family: sans-serif;
}
.next-event-container {
}
